openapi: 3.0.3
info:
    title: API.Rasp.Yandex.Net
    description: API Яндекс.Расписаний
    version: 3.0.0
servers:
    - url: https://api.rasp.yandex.net
tags:
    - name: Расписание рейсов между станциями
    description: Получение списка рейсов следующих от указанной станции отправления к указанной станции прибытия и информация по каждому рейсу
    - name: Список всех доступных станций
    description: Получение списка всех доступных станций
    - name: Список ближайших станций
    description: Получение списка ближайших станций
    - name: Копирайт и баннеры
    description: Получение копирайта и баннеров Яндекс Расписаний

paths:

/v3.0/search/:
get:
    tags:
    - getSchedualBetweenStations
    summary: Расписание рейсов между станциями
    operationId: getSchedualBetweenStations
    parameters:
    - name: apikey
    in: query
    description: API key
    required: true
    schema:
    type: string
    - name: from
    in: query
    description: Код станции отправления
    required: true
    schema:
        type: string
    - name: to
    in: query
    description: Код станции прибытия
    required: true
    schema:
        type: string
    - name: format
    in: query
    description: json или xml
    required: false
    schema:
    type: string
    - name: lang
    in: query
    description: lang
    required: false
    schema:
    type: string
    - name: date
    in: query
    description: Дата в формате YYYY-MM-DD
    required: true
    schema:
        type: string
        format: date
    - name: transportType
    in: query
    description: Тип транспортного средства.
    required: false
    schema:
        type: string
    - name: system
    in: query
        description: |
            Система кодирования станций. Возможные значения:
            - yandex (по умолчанию) - коды Яндекс Расписаний
            - iata - коды IATA
            - sirena - коды Сирена
            - express - коды Экспресс-3
            - esr - коды ЕСР
    required: false
    schema:
        type: string
        enum: [yandex, iata, sirena, express, esr]
        default: yandex
    -name showSystems
    in: query
    description: |
            Системы кодирования, коды которых нужно вернуть в ответе.
            Возможные значения:
            - yandex (по умолчанию)
            - esr
    required: false
    schema:
        type: string
        enum: [yandex,esr]
        default: yandex
    -name: offset
    in: query
    description: Смещение относительно первого результата поиска
    required: false
    schema:
        type: integer
        default: 0
        minimum: 0
    -name: limit
    in: query
    description: Максимальное количество результатов
    required: false
    schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000
    -name: add_days_mask
    in: query
    description: Возвращать ли календарь хождения
    required: false
    schema:
        type: boolean
        default: false
    -name result_timezone
    in: query
    description: Часовой пояс для результатов (идентификатор tz)
    required: false
    schema:
        type: string
        example: "Europe/Moscow"
    -name: transfers
    in: query
    description: Разрешить маршруты с пересадками
    required: false
    schema:
        type: boolean
        default: false
        responses:
        "200":
            description: Успешный ответ
            content:
            application/json:
                schema:
                $ref: '#/components/schemas/Segments'
    
      /v3.0/schedule/:
    get:
      tags:
        - getStationSchedule
      summary: Список рейсов по станции
      operationId: getStationSchedule
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: station
          in: query
          description: Код станции
          required: true
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата, на которую требуется расписание (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: transport_types
          in: query
          description: Тип транспорта (plane, train, bus и т.д.)
          required: false
          schema:
            type: string
        - name: event
          in: query
          description: Событие для фильтрации (arrival/отправление)
          required: false
          schema:
            type: string
        - name: direction
          in: query
          description: Направление (например, на Москву)
          required: false
          schema:
            type: string
        - name: system
          in: query
          description: Система кодирования для параметра station
          required: false
          schema:
            type: string
        - name: result_timezone
          in: query
          description: Часовой пояс для отображения времени
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
      /v3.0/thread/:
    get:
      tags:
        - getRouteStations
      summary: Список станций следования
      operationId: getRouteStations
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: uid
          in: query
          description: Идентификатор нитки
          required: true
          schema:
            type: string
        - name: from
          in: query
          description: Код станции отправления
          required: false
          schema:
            type: string
        - name: to
          in: query
          description: Код станции прибытия
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: date
          in: query
          description: Дата, на которую необходимо получить список станций (формат YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: show_systems
          in: query
          description: Система кодирования для ответа (например, yandex, esr, all)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadStationsResponse'
    /v3.0/nearest_stations/:
    get:
        tags:
        - getNearestStations
        summary: Список ближайших станций
        operationId: getNearestStations
        parameters:
        - name: apikey
            in: query
            description: API key
            required: true
            schema:
            type: string
        - name: lat
            in: query
            description: широта
            required: true
            schema:
            type: number
        - name: lng
            in: query
            description: долгота
            required: true
            schema:
            type: number
        - name: distance
            in: query
            description: радиус охвата
            required: true
            schema:
            type: integer
        - name: format
            in: query
            description: json или xml
            required: false
            schema:
            type: string
        - name: lang
            in: query
            description: lang
            required: false
            schema:
            type: string
        responses:
        "200":
            description: Успешный ответ
            content:
            application/json:
                schema:
                $ref: '#/components/schemas/Stations'
      /v3.0/nearest_settlement/:
    get:
      tags:
        - getNearestCity
      summary: Ближайший город
      operationId: getNearestCity
      parameters:
        - name: apikey
          in: query
          description: API key
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта согласно WGS84
          required: true
          schema:
            type: number
        - name: lng
          in: query
          description: Долгота согласно WGS84
          required: true
          schema:
            type: number
        - name: distance
          in: query
          description: Радиус поиска ближайшего города (в километрах)
          required: false
          schema:
            type: integer
        - name: lang
          in: query
          description: Язык возвращаемой информации (например, ru_RU)
          required: false
          schema:
            type: string
        - name: format
          in: query
          description: Формат ответа (json по умолчанию)
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestCityResponse'
    /v3.0/stations_list/:
    get:
        tags:
        - getAllStations
        summary: Список всех доступных станций
        operationId: getAllStations
        parameters:
        - name: apikey
            in: query
            description: API key
            required: true
            schema:
            type: string
        - name: format
            in: query
            description: json или xml
            required: false
            schema:
            type: string
        - name: lang
            in: query
            description: lang
            required: false
            schema:
            type: string
        responses:
        "200":
            description: Успешный ответ
            content:
            application/json:
                schema:
                $ref: '#/components/schemas/AllStationsResponse'
    
    /v3.0/copyright/:
    get:
        tags:
        - copyright
        summary: Получить копирайт и баннеры
        operationId: getCopyright
        parameters:
        - name: apikey
            in: query
            description: API key (можно передать в заголовке Authorization)
            required: false
            schema:
            type: string
        - name: format
            in: query
            description: Формат ответа (json/xml)
            required: false
            schema:
            type: string
            enum: [json, xml]
            default: json
        responses:
        "200":
            description: success
            content:
            application/json:
                schema:
                $ref: '#/components/schemas/CopyrightResponse'

components:
    schemas:
    Stations:
        type: object
        properties:
        pagination:
            $ref: '#/components/schemas/Pagination'
        stations:
            type: array
            items:
            $ref: '#/components/schemas/Station'
    AllStationsResponse:
        type: object
        properties:
        pagination:
            $ref: '#/components/schemas/Pagination'
        stations:
            type: array
            items:
            $ref: '#/components/schemas/Station'
    Pagination:
        type: object
        properties:
        total:
            type: integer
        limit:
            type: integer
        offset:
            type: integer
    Station:
        type: object
        properties:
        type:
            type: string
        title:
            type: string
        short_title:
            type: string
        popular_title:
            type: string
        code:
            type: string
        lat:
            type: number
        lng:
            type: number
        station_type:
            type: string
        station_type_name:
            type: string
        transport_type:
            type: string
        distance:
            type: number
        majority:
            type: integer
        type_choices:
            $ref: '#/components/schemas/Schedule'
    Schedule:
        type: object
        properties:
        desktop_url:
            type: string
        touch_url:
            type: string
            
    CopyrightResponse:
        type: object
        properties:
        copyright:
            type: object
            properties:
            logo_vm:
                type: string
                description: Вертикальный монохромный баннер (iframe)
            url:
                type: string
                description: URL Яндекс Расписаний
            logo_vd:
                type: string
                description: Вертикальный темный баннер
            logo_hy:
                type: string
                description: Горизонтальный желтый баннер
            logo_hd:
                type: string
                description: Горизонтальный темный баннер
            logo_vy:
                type: string
                description: Вертикальный желтый баннер
            text:
                type: string
                description: Уведомительный текст
            logo_hm:
                type: string
                description: Горизонтальный монохромный баннер
